body {
  margin: 0;
  font-family: Verdana, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(140, 140, 140);
}

a:hover {
  color: blue;
}

a:visited {
  color: purple;
}

/** Webpage title of site */
.menuTitle {
  color: black;
  border-bottom: 5px solid darkred;
}

/** Top menu on main page. Contains links for menuItem */
.menu {
  background-color: rgb(65, 65, 65);
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
}

/** Items in flexbox */
.menuItem { /** Possible links to newest article, sign in page, and idk like something uga football stat*/
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.menuItem:hover {
  background-color: white;
  color: black;
}

.intro { /**Needs image for banner or something you want as main banner. I put this img here for now. feel free to change it*/
  background-image:url("../src/images/stadium.jpg"); 
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  height: 800px;
  text-align: center;
  color: white;
  padding-top: 10px; /** fixes spacing between top of pic and border */
  border-bottom: 5px solid darkred;
}

.intro h1 {
  padding-top: 350px; /** centers text */
  font-size: 80px;
}

.intro p {
  font-size: 20px;
}

.mainArticle {
  background-color: rgb(57, 115, 192);
  padding: 100px;
}

/* nav  {
  align-items: center;
  background-color: rgb(65, 65, 65);
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
}

.nav-item {
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.nav-item:hover {
  background-color: white;
  color: black;
} */

/**For size reshape so it doesn't look horrible*/
@media screen and (max-width: 840px) {
  .intro {
      background-size: 80%;
  }
}